<h1>Blanksubmission#create</h1>
<p>Find me in app/views/blanksubmission/create.html.erb</p>

<%= form_tag(blanksubmission_show_path, :method => "get") do %>
    <%= text_field_tag 'name' %>
    <br>
    <br>
    <%= submit_tag 'Save' %>
    </div>
<% end %>