@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
  font-size: 12px;
}
